---
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A fast and efficient URL shortener to simplify links"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="/src/scripts/UrlShortener.js" defer></script>
  </head>
  <body class="min-h-screen grid grid-rows-[1fr_auto]">
    <slot />
    <Footer />
  </body>
</html>
